:root{
    --dark: #333;
    --light: #ededed;
    --light2: #fefefe;
}

* {
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
display:grid;
grid-template-columns: repeat(12,1fr);
grid-auto-rows: minmax(auto,100px);
}

header {
    justify-content: center;
    text-align: center;
    grid-column: 1/13;
    grid-row: 1/2;
}

div#mainBody {
    grid-column: 1/13;
    grid-row: 2/8;
}

footer {
    justify-content: center;
    text-align: center;
    grid-column: 1/13;
    grid-row: 8/9;
}